{
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": [
        "jest"
    ],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "node": true,
        "jest/globals": true
    },
    "rules": {
        "comma-dangle": [
            "error",
            "never"
        ],
        "curly": "error",
        "dot-notation": "error",
        "eqeqeq": "error",
        "id-length": [
            "error",
            {
                "min": 3,
                "max": 50,
                "exceptions": [
                    "by",
                    "fs",
                    "get",
                    "GET",
                    "id",
                    "_id",
                    "key",
                    "log",
                    "min",
                    "max",
                    "on",
                    "PUT",
                    "put",
                    "tag",
                    "use",
                    "$in"
                ]
            }
        ],
        "no-cond-assign": [
            "error",
            "always"
        ],
        "max-statements-per-line": [
            "error",
            {
                "max": 1
            }
        ],
        "no-console": "error",
        "no-constant-condition": "error",
        "no-debugger": "error",
        "no-empty-function": "error",
        "no-extra-bind": "error",
        "no-implicit-globals": "error",
        "no-loop-func": "error",
        "no-magic-numbers": [
            "warn",
            {
                "ignore": [
                    0
                ]
            }
        ],
        "no-multi-spaces": "error",
        "no-var": "error",
        "no-self-compare": "error",
        "no-useless-return": "error",
        "no-trailing-spaces": "error",
        "no-unused-vars": "error",
        "no-alert": "error",
        "no-lone-blocks": "error",
        "no-extra-semi": "error",
        "no-unreachable": "error",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1,
                "maxBOF": 0,
                "maxEOF": 1
            }
        ],
        "prefer-const": "error",
        "prefer-template": "error",
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "sort-imports": [
            "error",
            {
                "ignoreCase": true,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": [
                    "none",
                    "single",
                    "all",
                    "multiple"
                ]
            }
        ],
        "sort-vars": "off",
        "eol-last": [
            "error",
            "always"
        ]
    }
}